/*==========================================
  1. Default CSS
============================================*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	position: relative;
}
body,
html{
	/* width: 100%;
	height: 100%; */
	margin: 0;
	padding: 0;
	transition: .6s all ease;
	scroll-behavior: smooth;
}
/*==========================================
  2. Preloder CSS
============================================*/
#Preloder{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #2F75FF;
	display: flex;
	z-index: 999;
	justify-content: center;
	align-items: center;
}
#Preloder svg{
	width: 5rem;
}
.loaded{
	visibility: hidden;
	opacity: 0;
}