@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
    background-color: #F2F3F8;
    color: #0E1F3E;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background: white;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: black;
  font-size: 40px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #0E1F3E;
  font-size: 18px;
  font-weight: 600;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #007bff;
}

.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.icon1 {
    color: #0E1F3E;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
.reg {
    background-color: #2f75ff;
    color: white;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-shadow: rgba(6, 44, 120, 0.2) 0px 10px 20px 0px;
    font-size: 15px;
}
.reg:hover {
    background-color: orangered;
    transition: 0.8s ease-in-out;
}
.reg1 {
    background-color: #2f75ff;
    color: white;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-shadow: rgba(6, 44, 120, 0.2) 0px 10px 20px 0px;
    font-size: 15px;
    margin-top: 40px;
    display: none;  
    margin-left: 140px; 
}
.reg1:hover {
    background-color: orangered;
    transition: 0.8s ease-in-out;
}
.tok {
    color: blue;
}
.sec1 {
  padding-top: 180px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 100px;
}
.well {
  padding-top: 80px;
}
.to {
  color: #2f75ff;
  font-weight: 500;
  font-size: 17px;
  padding-bottom: 15px;
}
h1 {
  font-size: 50px;
  font-weight: 900;
  line-height: 60px;
  padding-bottom: 20px;
}
.btn {
  display: flex;
  margin-top: 30px;
  gap: 20px;
}
.btn button:hover {
  background-color: orangered;
  transition: 0.8s ease-in-out;
}
.log {
  background-color: #2f75ff;
  color: white;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  box-shadow: rgba(6, 44, 120, 0.2) 0px 10px 20px 0px;
  font-size: 15px;
}

.screen {
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 2s infinite  alternate;
  box-shadow:rgba(0, 5, 39, 0.14) 0px 40px 40px 0px;  
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
.trust {
  display: flex;
  gap: 10px;
  padding-top: 30px;
}
.trust img {
  margin-top: 3px;
}
.about {
  display: flex;
  background-color: white;
  justify-content: center;
  gap: 50px;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 100px;
}
.plat {
  padding-top: 60px;
}
.plat h2 {
  font-size: 35px;
  padding-bottom: 10px;
}
p {
  line-height: 30px;
}
.plat p {
  padding-top: 20px;
}
.cust {
  display: flex;
  justify-content: center;
  gap: 70px;
}
.sup {
  background-color: white;
  padding: 20px;
  height: 410px;
  width: 360px;
  margin: 0 0 55px 0;
  display: block;
    transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0px 30px 70px 0px rgb(0 5 39 / 10%);
    border-radius: 3px;
}
.sup img {
  margin-bottom: 20px;
  cursor: pointer;
}
.sup h5 {
  font-size: 20px;
  padding-bottom: 20px;
}
.why {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
}
.why h2 {
  font-size: 35px;
}
.sup img:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.photo {
  overflow: hidden;
}

.photo img {
  transition: transform 0.8s;
  cursor: pointer;
}

.photo:hover img {
  transform: scale(1.1);
}

/* scroll to top button */
#button {
  display: inline-block;
  background-color: #2f75ff;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
.services {
  background-color: white;
  padding-bottom: 60px;
  padding-top: 10px;
}
.what {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-top: 50px;
}
.trans {
  display: flex;
  flex-direction: column;
}

.tra {
  -webkit-animation: moving 2s infinite  alternate;
  animation: moving 2s infinite  alternate;
  box-shadow:rgba(0, 5, 39, 0.14) 0px 40px 40px 0px;  
  margin-top: -10px;
}
@-webkit-keyframes moving {
  0% { transform: translateX(-30px); }
  100% { transform: translateX(20px); }
}
@keyframes moving {
  0% { transform: translateX(-30px); }
  100% { transform: translateX(20px); }
}

.buy {
  border: 1px solid #DFDFDF;
  display: flex;
  flex-direction: column;
}
.buy p {
  border-top: 1px solid #DFDFDF;
  height: 42px;
  width: 635px;
  padding: 8px 16px 8px 16px;
}
.ibra {
  max-width: 100%;
  width: 375px;
  height: 300px;
}
.services h2 {
  text-align: center;
  font-size: 45px;
  padding-top: 70px;
  padding-bottom: 70px;
}
.we {
  padding-bottom: 30px;
}
.best {
  color: #FF5383;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}
.ease {
  font-size: 33px;
  padding-bottom: 40px;
}
.other {
  color: #77797C;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 16px;
    font-weight: 800;
}
.part {
  background: url(/images/cta-1.png);
  background-color: #5F3DE8;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  padding: 70px;
  gap: 450px;
}
.part h3 {
  font-size: 43px;
  padding-bottom: 20px;
}
.part button {
  background-color: white;
  border: none;
  padding: 15px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  margin-top: 80px;
  cursor: pointer;
}
.part button:hover {
  background-color: orangered;
  transition: 0.8s ease-in-out;
  color: white;
}


/* slideshow */

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  /* margin: auto; */
  padding-top: 100px;
  background-color: white;
}

/* Hide the images by default */
.mySlides {
  display: none;
}



/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.dan {
  text-align: center;
}
.dan img {
  margin-bottom: 10px;
}
.dan h6 {
  font-size: 15px;
  font-weight: 100;
  padding-bottom: 20px;
}
.dan h2 {
  font-size: 35px;
  padding-bottom: 20px;
  font-weight: 550;
}

.happy {
  display: flex;
  justify-content: center;
  gap: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.happy h2 {
  font-size: 45px;
}


.faq-container{
  max-width: 550px;
}

.faq{
  background-color: #F1F2F7;
  border-radius: 5px;
  margin: 10px 0;
  padding: 20px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
  box-shadow: rgba(6, 44, 120, 0.2) 0px 10px 20px 0px;
}

.faq.active {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 
  6px rgba(0, 0, 0, 0.1);
}

.faq.active::before,
.faq.active::after {
  content: '\f075';
  font-family: 'Font awesome 5 free';
  color: #2ecc71;
  font-size: 7rem;
  position: absolute;
  opacity: 0.2;
  top: 20px;
  left: 20px;
  z-index: 0;
}

.faq.active::before{
  color: #3498db;
  top: -10px;
  left: -30px;
  transform: rotateY(180deg);
}

.faq-title{
  margin: 0 35px 0 0;
  font-weight: 500;
}

.faq-text{
  display: none;
  margin: 30px 0 0;
}

.faq.active .faq-text{
  display: block;
}

.faq-toggle{
  background-color: transparent;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
}

.faq-toggle:focus{
  outline: none;
}

.faq-toggle .fa-times {
  display: none;
}

.faq.active .faq-toggle .fa-times {
  display: block;
  color: white;
}

.faq.active .faq-toggle .fa-chevron-down{
  display: none;
}

.faq.active .faq-toggle {
  background-color: #9fa4a8;
}    

  .freq {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-bottom: 100px;
    padding-top: 100px;
  }
  .stay h6 {
    color: #FF4E80;
    font-weight: 600;
    font-size: 17px;
    padding-bottom: 15px;
  }
  .stay h3 {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
    line-height: 45px;
  }



















@media screen and (max-width:768px) {
    .reg1 {
      display: block;                            
    }
    .reg {
      display: none;
    }
    .menu-list li a {
      color: white;
    }
}

@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}